span {
    color: red;
}

span.spinner {
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-left: 5px;
}

.spinner:before {
    content: "";
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: 2px solid #ffffff;
    border-top-color: #000000;
    -webkit-animation: spinner 0.8s linear infinite;
    animation: spinner 0.8s linear infinite;
    display: block;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}
