<div class="col-md-20">
    <div class="col-md-25">
        <h5 style="padding-bottom: 10px;">Change Password</h5>
        <form class="forms-sample" [formGroup]="changePasswordForm">
            <div class="form-group">
                <label for="exampleInputPassword1">Old Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" formControlName="oldPassword">
                <span class="invalid"
                    *ngIf="(changePasswordForm.controls.oldPassword.touched || isSubmitted) && changePasswordForm.controls.oldPassword.errors?.required">
                    {{validationConstants.OldPasswordRequired}}
                </span>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">New Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" formControlName="newPassword">
                <span class="invalid"
                    *ngIf="(changePasswordForm.controls.newPassword.touched || isSubmitted)   && changePasswordForm.controls.newPassword.errors?.required">
                    {{validationConstants.NewPasswordRequired}}
                </span>
                <span class="invalid"
                    *ngIf="(changePasswordForm.controls.newPassword.touched || isSubmitted)  && changePasswordForm.controls.newPassword.errors?.pattern">
                    {{validationConstants.PasswordPattern}}
                </span>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Confirm Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" formControlName="cpwd">
                <span class="invalid"
                    *ngIf="(changePasswordForm.controls.cpwd.touched || isSubmitted)  && changePasswordForm.controls.cpwd.errors?.required">
                    {{validationConstants.ConfirmPasswordRequired}}
                </span>
                <span class="invalid"
                    *ngIf="(changePasswordForm.controls.cpwd.touched || isSubmitted) && changePasswordForm.controls.cpwd.hasError('compare')">
                    {{validationConstants.ConfirmPasswordPattern}} </span>
            </div>
            <div>
                <button class="pButton" type="submit" (click)="changePasswordSubmit()">Submit</button>
            </div>
        </form>
    </div>
</div>

<p-toast position="top-right"></p-toast>