<div class='container'>
    <div class='overlaybox_data'>
        <p>Any person who uses and/or accesses and/or interacts with our Cared Connector platform which comprises of the Cared website, tools; hereby referred to as “Cared Connector” must comply with this Acceptable Use Policy. Any person who can access
            and/or use and/or operate Cared Connector must not send or access or make available communications or content in breach of this Acceptable Use Policy.</p>
        <p>In the course using, accessing, and/or operating Cared Connector, the following is strictly prohibited:
        </p>
        <ul>
            <li>accessing any other person’s account or profile on Cared Connector;</li>
            <li>uploading any content about a person without the person’s consent or using Cared Connector to violate all or any legal rights of any person or company or other entity in any jurisdiction;</li>
            <li>using Cared Connector (including any intentional access, creation, modification, transmission, distribution, or storage of information, data, or material) in breach of the <em>Privacy Act 1988</em> (Cth), the
                <em>Health
                    Records and Information Privacy Act 2002</em> (NSW), or any other applicable data protection laws in any relevant jurisdiction;
            </li>
            <li>using Cared Connector in relation to crimes such as theft and fraud;</li>
            <li>using Cared Connector in breach of any laws, including but not limited to, laws relating to the protection of copyright, trade secrets, patents, or other intellectual property and laws relating to spam or privacy;
            </li>
            <li>unauthorized copying of copyrighted material including, but not limited to, the installation of any copyrighted software for which you do not have an active license;</li>
            <li>using Cared Connector in connection with the provision of negligent or unlawful clinical services;
            </li>
            <li>exporting software, technical information, encryption software or technology, in violation of domestic export control laws;</li>
            <li>any form of computer hacking or the introduction of malicious programs into our network, computer or servers (e.g., viruses, worms, Trojan horses, e-mail bombs);</li>
            <li>revealing your account password to others or allowing the use of Cared Connector by others who are not authorized to do so;</li>
            <li>using Cared Connector to actively engage in conduct that would make a person feel offended, humiliated harassed, or intimidated or procuring or transmitting material that is in violation of sexual harassment or workplace relations laws;</li>
            <li>using Cared Connector to make fraudulent offers of goods or services is strictly prohibited;</li>
            <li>using Cared Connector to carry out security breaches or disruptions of network communication is strictly prohibited. Security breaches include, but are not limited to, accessing data of which you are not an intended recipient or logging into
                a server or account that you are not expressly authorized to access or corrupting any data. For the purposes of this paragraph, “security breaches” includes, but is not limited to, network sniffing, pinged floods, packet spoofing, denial
                of service, and forged routing information for malicious purposes;
            </li>
            <li>using Cared Connector to execute any form of network monitoring which will intercept data not intended for you;
            </li>
            <li>using Cared Connector to circumvent user authentication or security of any of our hosts, networks or accounts or those of our customers or suppliers;</li>
            <li>using Cared Connector to interfere with or deny service to anyone;</li>
            <li>using any program/script/command, or sending messages of any kind, with the intent to interfere with, or disable, any persons’ use of Cared Connector;</li>
            <li>sending unsolicited email messages through or to users of Cared Connector in breach of the <em>Spam
                    Act
                    2003</em> (Cth);</li>
            <li>using Cared Connector to send any form of harassment via email, or any other form of messaging, whether through language, frequency, or size of messages;</li>
            <li>using Cared Connector to send email to any email address, with the intent to spam or harass;</li>
            <li>using Cared Connector to create or forward “chain letters”, “Ponzi” or other “pyramid” schemes of any type; and
            </li>
            <li>use of Cared Connector in breach of any person’s privacy (such as by way of identity theft or “phishing”).
            </li>
        </ul>
        <div class='checkbox-button-row'>
            <div class='p-field-checkbox'>
                <p-checkbox [binary]='true' (onChange)='check($event.checked)'></p-checkbox>
                <label>I agree to terms and conditions </label>
            </div>
            <button class='pButton' [disabled]='agree===true?false:true' (click)='agreeCondition()'>Agree</button>
        </div>
    </div>
</div>