<div class="main-wrapper">
    <div class="page-wrapper full-page">
        <div class="page-content d-flex align-items-center justify-content-center">
            <div class="row w-100 mx-0 auth-page">
                <div class="col-md-8 col-xl-6 mx-auto">
                    <div class="card">
                        <div class="row">
                            <div class="col-md-12 pl-md-0">
                                <div class="auth-form-wrapper px-4 py-5">
                                    <a href="javascript:void(0);" class="noble-ui-logo d-block mb-2" style="width: 100px;"><img src="assets/images/angularlogo.png" /></a>
                                    <h5 class="text-muted font-weight-normal mb-4">Please enter your email, we will send you an email to reset your password.</h5>
                                    <form class="forms-sample" [formGroup]="forgetPasswordForm">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Email Address</label>
                                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" formControlName="email">
                                            <span class="invalid" *ngIf="(forgetPasswordForm.controls.email.touched || isSubmitted)  && forgetPasswordForm.controls.email.errors?.required">
                                                {{validationConstants.EmailAddressRequired}}
                                            </span>
                                            <span class="invalid" *ngIf="(forgetPasswordForm.controls.email.touched || isSubmitted) && forgetPasswordForm.controls.email.errors?.pattern">
                                                {{validationConstants.EmailPattern}}
                                            </span>
                                        </div>
                                        <div>
                                            <button type="submit" class="btn btn-primary" (click)="changePassword()">Submit</button>
                                        </div>
                                        <div>
                                            <a [routerLink]="['/authorize']" class="d-block mt-3 text-muted" style="padding-top: 20px!important;">Already a user? Sign
                                            in</a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<p-toast position="top-right"></p-toast>