.pButton {
    height: 30px;
    width: 90px;
    color: #fff;
    background-color: #da1a5d;
    border: 0;
    opacity: 1;
    margin-top: 10px;
    border-radius: 0.1875rem;
}

.pButton:hover {
    background-color: #EE1F67;
}
