<div class="vc_column-inner">
    <div class="column-bg-overlay-wrap" data-bg-animation="none">
        <div class="column-bg-overlay"></div>
    </div>
    <div class="wpb_wrapper">
        <div class="wpb_text_column wpb_content_element ">
            <div class="wpb_wrapper">
                <h1 style="text-align: center;">Terms and Conditions</h1>
            </div>
        </div>
        <div class="wpb_text_column wpb_content_element ">
            <div class="wpb_wrapper">
                <p>Welcome to the Cared website! We have a variety of online tools available on our website for you to
                    use in relation to the National Disability Insurance Scheme (<strong>NDIS</strong>). We are not
                    affiliated with or endorsed by the NDIS. Please read this document carefully. It governs Your
                    commercial relationship with Us and sets out legally binding provisions that regulate Your use of
                    Our website and its tools.</p>
                <p>To assist You, We have prepared summaries of Our Terms of Use. Our summaries are in the right-hand
                    column below. The summaries are not a substitute for reading the operative provisions of Our Terms
                    of Use (i.e. those in the left-hand column below). The operative provisions of Our Terms of Use are
                    legally binding. Our summaries are not legally binding and do not limit the scope, operation, and
                    specifications are not to be used as a mechanism for resolving any ambiguity (should ambiguity
                    arise) with respect to the operative provisions.</p>
                <p>If You use any of Our Tools for (among other things) the purposes of determining a participant’s NDIS
                    funding eligibility, finding an NDIS service provider, or searching the NDIS price list, You do so
                    at Your own risk. We do not warrant that the information produced by any of the Tools is accurate,
                    error-free, or up-to-date. You must not rely on or represent to any participant or any other person
                    that they should rely on, any results, reports, or figures produced by any Tool without
                    independently verifying the validity and accuracy thereof. The results produced by any Tool may not
                    reflect the NDIS funding allocated by the NDIS and may be subject to errors and inaccuracies and may
                    not be up to date.</p>
                <p>The information on the Website and/or displayed via or produced from any Tool is not our
                    professional, healthcare, or NDIS advice. You agree that You will seek all appropriate financial,
                    legal, and other advice as applicable before relying on any information You obtain from the Website
                    and/or any Tool.</p>
                <p>Please see the Dictionary at clause 14 of these Terms of Use for definitions and interpretation
                    provisions that apply to these Terms of Use.</p>
            </div>
        </div>
        <div class="wpb_text_column wpb_content_element ">
            <div class="wpb_wrapper">
                <p><strong>1. Acceptance and modification of these Terms of Use</strong></p>
            </div>
        </div>
        <div class="wpb_text_column wpb_content_element ">
            <div class="wpb_wrapper">
                <table width="0">
                    <tbody>
                        <tr>
                            <td width="693"><strong><u>Operative Provisions</u></strong></td>
                            <td width="300"><strong><u>Summary</u></strong></td>
                        </tr>
                        <tr>
                            <td width="693">
                                <p><strong>1.1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong>You may only access,
                                    browse, and use Our Website and/or any of Our Tools if You accept these Terms of
                                    Use. By accessing, browsing, and/or using Our Website and/or any of Our Tools, You
                                    will be deemed to have confirmed that You have read and understand, and wholly and
                                    unconditionally agree to be legally bound by, and accept, these Terms of Use and any
                                    information linked to from these Terms of Use (including any Privacy Policy).</p>
                                <p><strong>1.2.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong>We may modify and/or
                                    replace these Terms of Use and any information linked to it from these Terms of Use
                                    (including any Privacy Policy) from time to time without notice.</p>
                                <p><strong>1.3.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong>We will always upload the
                                    latest version of these Terms of Use to this webpage.</p>
                                <p><strong>1.4.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong>If You do not wish to
                                    accept these Terms of Use, You must not and cannot use the Website and/or Tools or
                                    any part thereof.</p>
                            </td>
                            <td width="300">
                                <p><strong>By using Our Website or any of our Tools, You agree to Our Terms of Use.
                                    </strong></p>
                                <p><strong>&nbsp;</strong></p>
                                <p><strong>We may change Our Terms of Use at any time.</strong></p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="wpb_text_column wpb_content_element ">
            <div class="wpb_wrapper">
                <p><strong>2.</strong><strong>Availability of Website and Tools</strong></p>
            </div>
        </div>
        <div class="wpb_text_column wpb_content_element ">
            <div class="wpb_wrapper">
                <table width="0">
                    <tbody>
                        <tr>
                            <td width="693"><strong><u>Operative Provisions</u></strong></td>
                            <td width="300"><strong><u>Summary</u></strong></td>
                        </tr>
                        <tr>
                            <td width="693">
                                <p><strong>2.1.&nbsp; &nbsp; &nbsp; </strong>We do not represent that the Website and/or
                                    any of Our Tools will be available on an uninterrupted or error-free basis. We may
                                    need to take down the Website and/or any of Our Tools from time to time.</p>
                                <p><strong>2.2.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong> You agree and acknowledge that
                                    the accessibility and use of the Website and/or any Tool are highly dependent on the
                                    proper function of the Internet and any other computer and telecommunications
                                    networks and infrastructure upon which the Website and/or any Tool operates,
                                    interfaces with or connect to, and that We are not responsible for any
                                    non-performance of the Website and/or any Tool associated with any of those matters.
                                </p>
                            </td>
                            <td width="300"><strong>Our Website and/or Tools might go offline from time to
                                    time.</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="wpb_text_column wpb_content_element ">
            <div class="wpb_wrapper">
                <p><strong>3. Website and Tools usage restrictions</strong></p>
            </div>
        </div>
        <div class="wpb_text_column wpb_content_element ">
            <div class="wpb_wrapper">
                <table width="0">
                    <tbody>
                        <tr>
                            <td width="693"><strong><u>Operative Provisions</u></strong></td>
                            <td width="300"><strong><u>Summary</u></strong></td>
                        </tr>
                        <tr>
                            <td width="693">
                                <p><strong>3.1.&nbsp; &nbsp;</strong>You may not make any use of the Website and/or any
                                    Tool except as permitted by these Terms of Use and may not do or authorize the
                                    commission of any act that would or might invalidate or be inconsistent with Our
                                    Intellectual Property Rights in the Website and/or in any Tool. Without limiting the
                                    foregoing provisions, You must not, under any circumstances, sell or resell access
                                    to the Website and/or to any Tool or scrape, republish, mirror, or otherwise rent,
                                    lend, lease, sell, redistribute, sublicence, copy or duplicate the Website and/or
                                    any Tool or any content You obtain thereof. In addition, You must not, nor may You
                                    permit any person to:</p>
                                <ul>
                                    <li style="list-style-type: none;">
                                        <ol>
                                            <li>copy, alter, modify, adapt, reproduce, republish, frame, translate,
                                                reverse assemble, reverse engineer, reverse compile, transfer, sell,
                                                license, create derivative works from or enhance the Website and/or any
                                                Tool and/or any content thereof (except as expressly permitted by the
                                                <em>Copyright Act </em><em>1968</em> (Cth));
                                            </li>
                                            <li>do any act that would or might invalidate or be inconsistent with Our
                                                Intellectual Property Rights or those of Our licensors;</li>
                                            <li>use the Website and/or any Tool in any way that infringes Our rights or
                                                the rights of any third party;</li>
                                            <li>use the Website and/or any Tool to create any product or service that
                                                competes with the Website and/or any Tool; or</li>
                                            <li>take any steps to circumvent any technological protection measure or
                                                security measures in the Website and/or any Tool.</li>
                                        </ol>
                                    </li>
                                </ul>
                                <p><strong>3.2.&nbsp;&nbsp;&nbsp;&nbsp; </strong>You must not use the Website and/or any
                                    Tool or any part of the Website and/or any Tool in any way which is in breach of any
                                    statute, regulation, law, or legal right of any person.</p>
                                <p><strong>3.3.&nbsp;&nbsp; </strong>You must not use the Website and/or any Tool or any
                                    part thereof in breach of these Terms of Use.</p>
                                <p><strong>3.4.&nbsp;&nbsp;&nbsp;</strong>If You use any of Our Tools for (among other
                                    things) the purposes of determining a participant’s NDIS funding eligibility,
                                    finding an NDIS service provider, or searching the NDIS price list, You do so at
                                    Your own risk. We do not warrant that the information produced by any of the Tools
                                    is accurate, error-free, or up-to-date. You must not rely on or represent to any
                                    participant or any other person that they should rely on, any results, reports, or
                                    figures produced by any Tool without independently verifying the validity and
                                    accuracy thereof. The results produced by any Tool may not reflect the NDIS funding
                                    allocated by the NDIS and may be subject to errors and inaccuracies and may not be
                                    up to date.</p>
                                <p><strong>3.5.&nbsp; </strong>You must not enter any health information or other
                                    sensitive information or personal information about any person into any Tool without
                                    their consent. By entering any such information, You warrant that You have obtained
                                    their consent to Our collection of their health information or other sensitive
                                    information or personal information and to our storage thereof at any hosting
                                    facility that We use anywhere in Australia and to Our use of the information in
                                    accordance with our Privacy Policy. We only collect personal information about
                                    people that is entered into Our free Tools on Our Website to provide the
                                    functionality of the relevant online Tool, to provide users with information about
                                    promotional offers and new products and solutions that We make available, and to
                                    handle complaints.</p>
                                <p><strong>3.6.&nbsp; &nbsp;</strong>You must indemnify Us from and against any loss or
                                    damage that We suffer because of Your failure to obtain any such consent.</p>
                            </td>
                            <td width="300"><strong>You cannot and must not infringe Our Intellectual Property Rights.
                                    You must comply with all applicable laws in respect of the Website and
                                    Tools.</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="wpb_text_column wpb_content_element ">
            <div class="wpb_wrapper">
                <p><strong>4. Acceptable Use Policy</strong></p>
            </div>
        </div>
        <div class="wpb_text_column wpb_content_element ">
            <div class="wpb_wrapper">
                <table width="0">
                    <tbody>
                        <tr>
                            <td width="693"><strong><u>Operative Provisions</u></strong></td>
                            <td width="300"><strong><u>Summary</u></strong></td>
                        </tr>
                        <tr>
                            <td width="693">
                                <p><strong>4.1.&nbsp; </strong>You agree that the following is strictly prohibited by
                                    these Terms of Use:</p>
                                <ul>
                                    <li style="list-style-type: none;">
                                        <ol>
                                            <li>using the Website and/or any Tool to violate all or any legal rights of
                                                any person or company or other entity in any jurisdiction;</li>
                                            <li>using the Website and/or any Tool in relation to crimes such as theft
                                                and fraud;</li>
                                            <li>using the Website and/or any Tool in breach of laws relating to the
                                                protection of copyright, trade secrets, patents or other intellectual
                                                property and laws relating to spam or privacy and whether such violation
                                                is by way of the installation or distribution of “pirated” software or
                                                otherwise;</li>
                                            <li>introduction of malicious programs into Our network or servers (e.g.,
                                                viruses, worms, Trojan horses, e-mail bombs);</li>
                                            <li>using the Website and/or any Tool to make fraudulent offers of goods or
                                                services ;</li>
                                            <li>using the Website and/or any Tool to carry out security breaches or
                                                disruptions of network communication is strictly prohibited by these
                                                Terms of Use. Security breaches include accessing data of which You are
                                                not an intended recipient or logging into a server or account that You
                                                are not expressly authorized to access or corrupting any data. For the
                                                purposes of this paragraph, “security breaches” includes, but is not
                                                limited to, network sniffing, pinged floods, packet spoofing, denial of
                                                service, and forged routing information for malicious purposes;</li>
                                            <li>using the Website and/or any Tool to execute any form of network
                                                monitoring which will intercept data not intended for You;</li>
                                            <li>using the Website and/or any Tool to circumvent user authentication or
                                                security of any of Our hosts, networks or accounts or those of Our
                                                customers or suppliers;</li>
                                            <li>using the Website and/or any Tool to interfere with or deny service to
                                                anyone;</li>
                                            <li>using any program/script/command, or sending messages of any kind, with
                                                the intent to interfere with, or disable, any person’s use of the
                                                Website and/or any Tool;</li>
                                            <li>sending unsolicited email messages through or to users of the Website
                                                and/or any Tool in breach of the <em>Spam Act</em> 2003;</li>
                                            <li>using the Website and/or any Tool to send any form of harassment via
                                                email, or any other form of messaging, whether through language,
                                                frequency, or size of messages; and</li>
                                            <li>use of the Website and/or any Tool in breach of any person’s privacy
                                                (such as by way of identity theft or “phishing”).</li>
                                        </ol>
                                    </li>
                                </ul>
                            </td>
                            <td width="300"><strong>You cannot use the Website or any Tool for any illegal purpose or to
                                    violate any person’s legal rights.</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="wpb_text_column wpb_content_element ">
            <div class="wpb_wrapper">
                <p><strong>5. Intellectual Property Rights</strong></p>
            </div>
        </div>
        <div class="wpb_text_column wpb_content_element ">
            <div class="wpb_wrapper">
                <table width="0">
                    <tbody>
                        <tr>
                            <td width="693"><strong><u>Operative Provisions</u></strong></td>
                            <td width="300"><strong><u>Summary</u></strong></td>
                        </tr>
                        <tr>
                            <td width="693">
                                <p><strong>5.1. </strong>You agree and acknowledge that these Terms of Use do not
                                    transfer or assign any Intellectual Property Rights to You.</p>
                                <p><strong>5.2.&nbsp;</strong> As between You and Us, We own all Intellectual Property
                                    Rights in the Website and in all Tools.</p>
                                <p><strong>5.3.&nbsp;</strong> You have no rights in the Website and/or in any Tool or
                                    in any part of thereof or in any modification or enhancement thereof, other than the
                                    rights temporarily granted to You pursuant to these Terms of Use.</p>
                                <p><strong>5.4.&nbsp;</strong> You agree that any Intellectual Property Rights in any
                                    comments that You may provide to Us in connection with the Website and/or any Tool
                                    or requests for new Website and/or Tool features (each, an “Improvement Suggestion”)
                                    becomes Our sole and exclusive property immediately upon You uploading or posting
                                    that Improvement Suggestion or otherwise providing the Improvement Suggestion to Us.
                                    You hereby assign all Intellectual Property Rights in all and any such Improvement
                                    Suggestions to Us effective as soon as You provide each Improvement Suggestion to Us
                                    or upload or post an Improvement Suggestion. The assignment pursuant to this clause
                                    includes an assignment of future copyright pursuant to section 197 of the
                                    <em>Copyright Act</em> 1968 (Cth) and in equity.
                                </p>
                                <p><strong>5.5.&nbsp;</strong> You irrevocably consent to the infringement by Us and any
                                    third party We authorize, of all Moral Rights that You may have in any Improvement
                                    Suggestions.</p>
                                <p><strong>5.6.&nbsp;</strong> You must not take any step to invalidate or prejudice Our
                                    (or Our licensors’) Intellectual Property Rights in the Website and/or in any Tool
                                    or otherwise.</p>
                            </td>
                            <td width="300"><strong>We own all Intellectual Property Rights in the Website and Tools. We
                                    also own all improvement suggestions that You make regarding the Website or any
                                    Tool. </strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="wpb_text_column wpb_content_element ">
            <div class="wpb_wrapper">
                <p><strong>6. Responsibility for other users</strong></p>
            </div>
        </div>
        <div class="wpb_text_column wpb_content_element ">
            <div class="wpb_wrapper">
                <table width="0">
                    <tbody>
                        <tr>
                            <td width="693"><strong><u>Operative Provisions</u></strong></td>
                            <td width="300"><strong><u>Summary</u></strong></td>
                        </tr>
                        <tr>
                            <td width="693">
                                <p><strong>6.1.&nbsp; </strong>We do not accept responsibility for the conduct of any
                                    users of Our Website and/or any Tool.</p>
                                <p><strong>6.2.&nbsp; </strong>If You believe that another user of Our Website and/or
                                    any Tool has breached these Terms of Use please contact Us immediately.</p>
                                <p><strong>6.3.&nbsp;</strong> We are not a party to any transaction for the supply of
                                    goods or services advertised by any user of the Website and/or any Tool. Before
                                    entering into any transaction with any other user of the Website and/or any Tool,
                                    You should carefully consider the applicable terms and conditions applicable to the
                                    transaction, obtain all appropriate advice and take all appropriate precautions.</p>
                                <p><strong>6.4.&nbsp;</strong> Any dispute You have with another user of Our Website
                                    and/or any Tool is between You and the other user. You release Us from any claims
                                    that You may otherwise have against Us in relation to any conduct of any user of Our
                                    Website and/or any Tool, any sales and marketing practices of any users of Our
                                    Website and/or any Tool and in respect of any content uploaded by or on behalf of
                                    any user into the Website and/or any Tool.</p>
                            </td>
                            <td width="300"><strong>We cannot be held responsible for the conduct of Our users.</strong>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="wpb_text_column wpb_content_element ">
            <div class="wpb_wrapper">
                <p><strong>7. Responsibility for third party claims</strong></p>
            </div>
        </div>
        <div class="wpb_text_column wpb_content_element ">
            <div class="wpb_wrapper">
                <table width="0">
                    <tbody>
                        <tr>
                            <td width="693"><strong><u>Operative Provisions</u></strong></td>
                            <td width="300"><strong><u>Summary</u></strong></td>
                        </tr>
                        <tr>
                            <td width="693">
                                <p><strong>7.1.&nbsp; </strong>You agree and acknowledge that You are solely responsible
                                    for and You indemnify Us in respect of any loss and damage We may incur in
                                    connection with any claims and/or complaints made by any third party where the claim
                                    is caused directly or indirectly by:</p>
                                <ul>
                                    <li style="list-style-type: none;">
                                        <ol>
                                            <li>Your use of the Website and/or any Tool; and/or</li>
                                            <li>Your goods and/or services and/or your advertising and/or sales and/or
                                                marketing practices.</li>
                                        </ol>
                                    </li>
                                </ul>
                            </td>
                            <td width="300"><strong>We are not responsible for any claims or complaints made by third
                                    parties about the Website, any Tool or Your use thereof. </strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="wpb_text_column wpb_content_element ">
            <div class="wpb_wrapper">
                <p><strong>8. Hyperlinks</strong></p>
            </div>
        </div>
        <div class="wpb_text_column wpb_content_element ">
            <div class="wpb_wrapper">
                <table width="0">
                    <tbody>
                        <tr>
                            <td width="693"><strong><u>Operative Provisions</u></strong></td>
                            <td width="300"><strong><u>Summary</u></strong></td>
                        </tr>
                        <tr>
                            <td width="693"><strong>8.1. </strong>We do not represent, recommend, or endorse any
                                websites to which We have linked from the Website via a hyperlink or otherwise.</td>
                            <td width="300"><strong>We are not responsible for third-party sites that maybe linked or
                                    displayed on Our Website or any Tool.</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="wpb_text_column wpb_content_element ">
            <div class="wpb_wrapper">
                <p><strong>9. Liability</strong></p>
            </div>
        </div>
        <div class="wpb_text_column wpb_content_element ">
            <div class="wpb_wrapper">
                <table width="0">
                    <tbody>
                        <tr>
                            <td width="693"><strong><u>Operative Provisions</u></strong></td>
                            <td width="300"><strong><u>Summary</u></strong></td>
                        </tr>
                        <tr>
                            <td width="693">
                                <p><strong><strong>9.1.&nbsp; </strong></strong>Except in respect of any Non-Excludable
                                    Guarantees, We do not represent that the information on the Website and/or produced
                                    by any Tool is accurate, correct, up-to-date, or error-free.</p>
                                <p><strong>9.2.&nbsp; </strong>The information on the Website and/or displayed via or
                                    produced from any Tool is not our professional, healthcare, or NDIS advice. You
                                    agree that You will seek all appropriate financial, legal, and other advice as
                                    applicable before relying on any information You obtain from the Website and/or any
                                    Tool.</p>
                                <p><strong>9.3.&nbsp; </strong>To the extent possible by law, We are not liable to You
                                    for any loss or damage incurred by You for loss of profits, loss of business
                                    opportunity, loss of revenue, loss of savings, or loss of data.</p>
                                <p><strong>9.4.&nbsp; </strong>To the extent that Our liability is not otherwise
                                    excluded by these Terms of Use, subject to any Non-Excludable Guarantees, Our
                                    liability to You is limited to $200.</p>
                            </td>
                            <td width="300"><strong>Our liability is limited in many ways.</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="wpb_text_column wpb_content_element ">
            <div class="wpb_wrapper">
                <p><strong>10. Warranties – Australian Consumer Law</strong></p>
            </div>
        </div>
        <div class="wpb_text_column wpb_content_element ">
            <div class="wpb_wrapper">
                <table width="0">
                    <tbody>
                        <tr>
                            <td width="693"><strong><u>Operative Provisions</u></strong></td>
                            <td width="300"><strong><u>Summary</u></strong></td>
                        </tr>
                        <tr>
                            <td width="693">
                                <p><strong><strong>10.1.&nbsp; </strong></strong>Any goods and services supplied by Us
                                    through the Website and/or any Tool (which for the avoidance of doubt, does not
                                    include goods or services supplied by any user of the Website and/or Tool to any
                                    person) may come with implied Non-Excludable Guarantees which are regulated by the
                                    Australian Consumer Law. The extent of the implied guarantees depends on whether You
                                    are a ‘consumer’ of goods or services within the meaning of that term pursuant to
                                    the Australian Consumer Law as amended.</p>
                                <p><strong>10.2. </strong>Where You are a ‘consumer’ for the purposes of the Australian
                                    Consumer Law, We are required to provide and shall be deemed to have provided the
                                    following mandatory statement to You: “Our goods come with guarantees that cannot be
                                    excluded under the Australian Consumer Law. You are entitled to a replacement or
                                    refund for a major failure and for compensation for any other reasonably foreseeable
                                    loss or damage. You are also entitled to have the goods repaired or replaced if the
                                    goods fail to be of acceptable quality and the failure does not amount to a major
                                    failure.”</p>
                                <p><strong>10.3.&nbsp; </strong>If any goods or services supplied by Us to You are
                                    supplied to You in Your capacity as a ‘consumer’ of goods or services within the
                                    meaning of that term in the Australian Consumer Law as amended, You will have the
                                    benefit of certain Non-Excludable Guarantees in respect of those goods or services
                                    and nothing in these Terms of Use excludes or restricts or modifies any guarantee
                                    which pursuant to the <em>Competition and Consumer Act</em> 2010 (Cth) is so
                                    conferred. However, if the goods or services are subject to a Non-Excludable
                                    Guarantee implied by the Australian Consumer Law and the goods or services are not
                                    ordinarily acquired for personal, domestic, or household use or consumption, then
                                    pursuant to section 64A of the Australian Consumer Law, We limit Our liability for
                                    breach of any such Non-Excludable Guarantee implied by the Australian Consumer Law
                                    (other than a guarantee implied by sections 51, 52 or 53 of the Australian Consumer
                                    Law) or expressly given by Us to You, in respect of each of the goods and services,
                                    where it is fair and reasonable to do so, at Our option, to one or more of the
                                    following:</p>
                                <ol>
                                    <li style="list-style-type: none;">
                                        <ol>
                                            <li>if the breach relates to goods:<ol>
                                                    <li>the replacement of the goods or the supply of equivalent goods;
                                                    </li>
                                                    <li>the repair of such goods;</li>
                                                    <li>the payment of the cost of replacing the goods or of acquiring
                                                        equivalent goods; or</li>
                                                    <li>the payment of the cost of having the goods repaired; and</li>
                                                </ol>
                                            </li>
                                            <li>if the breach relates to services:<ol>
                                                    <li>the supplying of the services again; or</li>
                                                    <li>the payment of the cost of having the services supplied again.
                                                    </li>
                                                </ol>
                                            </li>
                                        </ol>
                                    </li>
                                </ol>
                                <p><strong>10.4.&nbsp; </strong>Any warranty against defects provided by Us to You in
                                    Your capacity as a ‘consumer’ under the Australian Consumer Law is in addition to
                                    Your other rights and remedies under a law in relation to the goods or services to
                                    which the warranty relates.</p>
                                <p><strong>10.5.&nbsp; </strong>Except in respect of any Non-Excludable Guarantees, all
                                    conditions, warranties, and guarantees implied in these Terms of Use are excluded,
                                    to the extent possible by law.</p>
                            </td>
                            <td width="300"><strong>We do not exclude liability that cannot be excluded under the
                                    Australian Consumer Law.</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="wpb_text_column wpb_content_element ">
            <div class="wpb_wrapper">
                <p><strong>11. Termination</strong></p>
            </div>
        </div>
        <div class="wpb_text_column wpb_content_element ">
            <div class="wpb_wrapper">
                <table width="0">
                    <tbody>
                        <tr>
                            <td width="693"><strong><u>Operative Provisions</u></strong></td>
                            <td width="300"><strong><u>Summary</u></strong></td>
                        </tr>
                        <tr>
                            <td width="693">
                                <p><strong><strong>11.1.&nbsp; </strong></strong>We may terminate these Terms of Use and
                                    Your access to the Website and/or any Tool or any part thereof at any time without
                                    notice.</p>
                                <p><strong>11.2.&nbsp; </strong>We may take down the Website or any Tool or any part
                                    thereof or take the Website or any Tool or any part thereof offline at any time
                                    without notice where reasonably necessary to protect Our legitimate commercial
                                    interests.</p>
                                <p><strong>11.3.&nbsp; </strong>Termination of these Terms of Use and access to the
                                    Website and/or any Tool does not affect any accrued rights of either party.</p>
                            </td>
                            <td width="300"><strong>You and We can terminate Your access to the Website and/or any Tool
                                    under certain conditions. </strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="wpb_text_column wpb_content_element ">
            <div class="wpb_wrapper">
                <p><strong>12. Notices</strong></p>
            </div>
        </div>
        <div class="wpb_text_column wpb_content_element ">
            <div class="wpb_wrapper">
                <table width="0">
                    <tbody>
                        <tr>
                            <td width="693"><strong><u>Operative Provisions</u></strong></td>
                            <td width="300"><strong><u>Summary</u></strong></td>
                        </tr>
                        <tr>
                            <td width="693">
                                <p><strong><strong>12.1.&nbsp; </strong></strong>Any notice issued to You from Us or
                                    from Us to You shall be in writing and sent by hand delivery, post or email. Where
                                    sent from Us to You, We shall use any of Your contact details that You provide to
                                    Us.</p>
                                <p><strong>12.2.&nbsp; </strong>You may contact Us or send a notice to Us using Our
                                    contact details that are specified on Our website at <a
                                        href="https://cared.com.au/contact/">https://cared.com.au/contact/</a> or by
                                    sending an email to us at <a
                                        href="mailto:hello@cared.com.au">hello@cared.com.au</a>.</p>
                                <p><strong>12.3.&nbsp; </strong>Any notice issued by hand shall be deemed delivered upon
                                    delivery.</p>
                                <p><strong>12.4.&nbsp; </strong>Any notice issued by post shall be deemed delivered 6
                                    Business Days after posting if posted domestically, or 10 Business Days after
                                    posting if posted internationally.</p>
                                <p><strong>12.5.&nbsp; </strong>Any notice issued via email shall be deemed to be
                                    delivered upon receipt by the sender of an electronic read receipt or delivery
                                    receipt, or upon receipt of confirmation from the recipient that the recipient
                                    received the email.</p>
                                <p><strong>12.6.&nbsp; </strong>We may send You email or other electronic messages
                                    concerning the Website and/or any Tool from time to time.</p>
                            </td>
                            <td width="300"><strong>Notices between You and Us are deemed to be delivered at different
                                    times, depending on how and when they are sent.</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="wpb_text_column wpb_content_element ">
            <div class="wpb_wrapper">
                <p><strong>13. General</strong></p>
            </div>
        </div>
        <div class="wpb_text_column wpb_content_element ">
            <div class="wpb_wrapper">
                <table width="0">
                    <tbody>
                        <tr>
                            <td width="693"><strong><u>Operative Provisions</u></strong></td>
                            <td width="300"><strong><u>Summary</u></strong></td>
                        </tr>
                        <tr>
                            <td width="693"><strong><strong>13.1.&nbsp; </strong></strong><u>Other rights:</u> All
                                rights not expressly granted to Us in these Terms of Use are expressly reserved by Us
                            </td>
                            <td width="300"><strong>We reserve Our rights.</strong></td>
                        </tr>
                        <tr>
                            <td width="693"><strong><strong>13.2.&nbsp;&nbsp;</strong></strong><u>Amendment:</u> These
                                Terms of Use may be amended by Us at any time.</td>
                            <td width="300"><strong>We can change these Terms of Use at any time. </strong></td>
                        </tr>
                        <tr>
                            <td width="693"><strong><strong>13.3.&nbsp; </strong></strong><u>Assignment:</u> You may not
                                assign, transfer, license, or novate Your rights or obligations under these Terms of Use
                                without Our prior written consent. We may assign, transfer, license, or novate Our
                                rights or obligations under these Terms of Use at any time, subject to Our Privacy
                                Policy.</td>
                            <td width="300"><strong>You cannot transfer Your rights under these Terms of Use unless We
                                    approve the transfer. We can transfer Our rights and obligations at any
                                    time.</strong></td>
                        </tr>
                        <tr>
                            <td width="693"><strong><strong>13.4.&nbsp; </strong></strong><u>Severability:</u> If any
                                part of these Terms of Use is deemed invalid by a court of competent jurisdiction, the
                                remainder of these Terms of Use shall remain enforceable.</td>
                            <td width="300"><strong>If any part of these Terms of Use is not legally binding, the
                                    remainder of these Terms of Use is binding and in effect.</strong></td>
                        </tr>
                        <tr>
                            <td width="693"><strong><strong>13.5.&nbsp; </strong></strong><u>Relationship:</u> You and
                                Us are independent contracting entities and these Terms of Use do not create any
                                relationship of partnership, joint venture, fiduciary, or employer and employee or
                                otherwise.</td>
                            <td width="300"><strong>We are not partners, employers, or employees of one
                                    another.</strong></td>
                        </tr>
                        <tr>
                            <td width="693"><strong><strong>13.6.&nbsp; </strong></strong><u>Entire Agreement:</u> These
                                Terms of Use and any information linked to from these Terms of Use constitute the entire
                                agreement between You and Us and to the extent possible by law, supersede all prior
                                understandings, representations, arrangements, and agreements between You and Us
                                regarding its subject matter.</td>
                            <td width="300"><strong>These Terms of Use set out Our entire agreement with You.</strong>
                            </td>
                        </tr>
                        <tr>
                            <td width="693"><strong><strong>13.7.&nbsp; </strong></strong><u>Jurisdiction:</u> These
                                Terms of Use will be interpreted in accordance with the laws in force in NSW. You and Us
                                irrevocably submit to the non-exclusive jurisdiction of the courts situated in NSW in
                                relation to any proceedings or disputes concerning these Terms of Use.</td>
                            <td width="300"><strong>Any legal action will be commenced in NSW.</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="wpb_text_column wpb_content_element ">
            <div class="wpb_wrapper">
                <p><strong>14. </strong><strong>Dictionary and Interpretation provisions</strong></p>
            </div>
        </div>
        <div class="wpb_text_column wpb_content_element ">
            <div class="wpb_wrapper">
                <table width="0">
                    <tbody>
                        <tr>
                            <td width="693"><strong><u>Operative Provisions</u></strong></td>
                            <td width="300"><strong><u>Summary</u></strong></td>
                        </tr>
                        <tr>
                            <td width="693">
                                <p><strong><strong><strong>14.1.&nbsp; </strong></strong></strong><strong
                                        style="font-family: inherit; font-size: inherit;">Definitions</strong></p>
                                <p>In these Terms of Use:</p>
                                <p><strong><em>Australian Consumer Law </em></strong>means schedule 2 to the
                                    <em>Competition and Consumer Act </em>2010 (Cth).
                                </p>
                                <p><strong><em>Business Day </em></strong>means Monday – Friday excluding public
                                    holidays in NSW.</p>
                                <p><strong><em>Business Hours </em></strong>means 9:00 am – 5:00 pm on Business Days.
                                </p>
                                <p><strong><em>GST </em></strong>has the meaning given by the <em>A New Tax System
                                        (Goods and Services Tax) Act</em> 1999 (Cth)).</p>
                                <p><strong><em>Intellectual Property Rights </em></strong>means all copyright, trademark
                                    rights, patent rights, and design rights, whether registered or unregistered, and
                                    all other rights to intellectual property as defined under article 2 of the
                                    convention establishing the World Intellectual Property Organization, and all rights
                                    to enforce any of the foregoing rights.</p>
                                <p><strong><em>Moral Rights </em></strong>has the meaning given in the <em>Copyright Act
                                    </em>1968 (Cth).</p>
                                <p><strong><em>Non-Excludable Guarantee </em></strong>means a non-excludable guarantee
                                    implied into these Terms of Use by the Australian Consumer Law.</p>
                                <p><strong><em>Privacy Policy </em></strong>means Our Privacy Policy located at <a
                                        href="https://cared.com.au/privacy-policy/">Privacy Policy</a>.</p>
                                <p><strong><em>Terms of Use </em></strong>means the terms and conditions set out on this
                                    webpage as amended by Us from time to time.</p>
                                <p><strong><em>Tools </em></strong>mean the online services that we make available on
                                    the Website at the following URLs: <a
                                        href="https://myplanassistant.cared.com.au/">https://myplanassistant.cared.com.au/</a>,<a
                                        href="https://searchserviceproviders.cared.com.au/">https://searchserviceproviders.cared.com.au/</a>,
                                    <a href="https://pricelist.cared.com.au/">https://pricelist.cared.com.au/</a>, and
                                    <a href="https://planparser.cared.com.au">https://planparser.cared.com.au</a>,
                                    including any content, images, text and other information appearing on any such page
                                    or screen of that URL and any source code and object code in that URL.
                                </p>
                                <p><strong><em>We, Our </em></strong><em>and<strong> Us </strong></em>means Cared
                                    Australia Pty Ltd ABN 98 633 602 445 of 501/10 Help St, Chatswood NSW 2067.</p>
                                <p><strong><em>Website </em></strong>means the Cared website owned and/or provided by
                                    Us, the homepage URL of which is <a
                                        href="https://cared.com.au/">https://cared.com.au/</a> and also includes any
                                    content, images, text, and other information appearing on any page or screen of that
                                    website and any source code and object code in that website.</p>
                                <p><strong><em>You </em></strong>mean you, the person who accesses the Website for any
                                    reason.</p>
                                <p><strong>14.2.&nbsp; </strong><strong>Interpretation</strong></p>
                                <p>In these Terms of Use:</p>
                                <ol>
                                    <li>Headings and underlinings are for convenience only and do not affect the
                                        construction of these Terms of Use.</li>
                                    <li>A provision of these Terms of Use will not be interpreted against a party
                                        because the party prepared or was responsible for the preparation of the
                                        provision, or because the party’s legal representative prepared the provision.
                                    </li>
                                    <li>Currency refers to Australian dollars unless specified otherwise.</li>
                                    <li>The singular includes the plural and vice versa.</li>
                                    <li>A reference to a statute or regulation includes amendments thereto.</li>
                                    <li>A reference to a clause, subclause, or paragraph is a reference to a clause,
                                        subclause or paragraph of these Terms of Use.</li>
                                    <li>A reference to a subclause or paragraph is a reference to the subclause or
                                        paragraph in the clause in which the reference is made.</li>
                                    <li>A reference to time is to time in NSW.</li>
                                    <li>A reference to a person includes a reference to an individual, a partnership, a
                                        company, a joint venture, a government body, a government department, and any
                                        other legal entity.</li>
                                    <li>The words “include”, “including” and similar expressions are not words of
                                        limitation.</li>
                                </ol>
                            </td>
                            <td width="300"><strong>Capitalized terms are defined in this clause.</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>