<div class="main-wrapper">
    <div class="page-wrapper full-page">
        <div class="page-content d-flex align-items-center justify-content-center">
            <div class="row w-100 mx-0 auth-page">
                <div class="col-md-8 col-xl-6 mx-auto">
                    <div class="card">
                        <div class="row">
                            <div class="col-md-4 pr-md-0">
                                <div class="auth-left-wrapper">
                                </div>
                            </div>
                            <div class="col-md-8 pl-md-0">
                                <div class="auth-form-wrapper px-4 py-5">
                                    <a href="javascript:void(0);" class="noble-ui-logo d-block mb-2" style="width: 100px;"><img src="assets/images/logo.svg" /></a>
                                    <form class="forms-sample" [formGroup]="emailVerifyingForm" (ngSubmit)="verifyingEmail()">
                                        <div class="form-group">
                                            <label for="exampleInputUsername1">First Name</label>
                                            <input type="text" class="form-control" id="exampleInputUsername1" placeholder="First Name" formControlName="firstName">
                                            <span class="invalid" *ngIf="(emailVerifyingForm.controls.firstName.touched|| isSubmitted)  && emailVerifyingForm.controls.firstName.errors?.required">
                                                {{validationConstants.FirstNameRequired}}
                                            </span>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputUsername1">Last Name</label>
                                            <input type="text" class="form-control" id="exampleInputUsername1" placeholder="Last Name" formControlName="lastName">
                                            <span class="invalid" *ngIf="(emailVerifyingForm.controls.lastName.touched|| isSubmitted)  && emailVerifyingForm.controls.lastName.errors?.required">
                                                {{validationConstants.LastNameRequired}}
                                            </span>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputUsername1">Phone Number (Optional)</label>
                                            <input type="number" class="form-control" id="exampleInputUsername1" placeholder="Phone Number" formControlName="phoneNumber">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">Password</label>
                                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" formControlName="password">
                                            <span class="invalid" *ngIf="(emailVerifyingForm.controls.password.touched || isSubmitted) && emailVerifyingForm.controls.password.errors?.required">
                                                {{validationConstants.PasswordRequired}}
                                            </span>
                                            <span class="invalid" *ngIf="(emailVerifyingForm.controls.password.touched || isSubmitted) && emailVerifyingForm.controls.password.errors?.pattern">
                                                {{validationConstants.PasswordPattern}}
                                            </span>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">Confirm Password</label>
                                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Confirm Password" formControlName="cpwd">
                                            <span class="invalid" *ngIf="(emailVerifyingForm.controls.cpwd.touched || isSubmitted)  && emailVerifyingForm.controls.cpwd.errors?.required">
                                                {{validationConstants.ConfirmPasswordRequired}}
                                            </span>
                                            <span class="invalid" *ngIf="(emailVerifyingForm.controls.cpwd.touched || isSubmitted) && emailVerifyingForm.controls.cpwd.hasError('compare')">
                                                {{validationConstants.ConfirmPasswordPattern}} </span>
                                        </div>
                                        <div>
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </div>
                                        <div>
                                            <a [routerLink]="['/authorize/forget-password']" class="d-block mt-3 text-muted" style="padding-top: 20px!important;">Forgot
                                            Password?</a>
                                            <a [routerLink]="['/authorize']" class="d-block mt-3 text-muted">Already a user? Sign
                                            in</a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<p-toast position="top-right"></p-toast>