<div class="container">
    <div class="overlaybox_data">
        <h4 class="margintop30"> How is your plan funded?
        </h4>
        <p>When you have your plan review the planner or LAC would have asked you how you wish to manage the plan
            finances. Plan finances is how your providers will be paid. There are three choices – NDIA, self-managed,
            plan managed. Some Categories in your
            plan can be financially managed by more than one method. Why does the funding method matter? If your plan is
            self-managed or managed by a plan manager, you do not have to use a NDIA registered provider. This gives you
            more options to choose
            providers.
        </p>
        <p>For more information on ways to manage your plan funding refer to link.
            <a href="https://www.ndis.gov.au/participants/creating-your-plan/ways-manage-your-funding" target="_blank">
                https://www.ndis.gov.au/participants/creating-your-plan/ways-manage-your-funding</a>
        </p>
        <p>
            Link to NDIS explaining budgets in plans.
            <a href="https://www.ndis.gov.au/participants/using-your-plan/managing-your-plan/support-budgets-your-plan"
                target="_blank">https://www.ndis.gov.au/participants/using-your-plan/managing-your-plan/support-budgets-your-plan</a>
        </p>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Category</th>
                    <th scope="col">Sub Category</th>
                    <th scope="col">(Choices Funding)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>CORE </td>
                    <td>Various including Respite</td>

                    <td>NDIA (All) Self-Managed (All) Plan Managed (All)
                    </td>
                </tr>
                <tr>
                    <td>CORE</td>
                    <td>Accommodation (SIL or SDA)</td>

                    <td>NDIA (All) Plan Managed (All)
                    </td>
                </tr>
                <tr>
                    <td>Support Coordination</td>
                    <td>Support Coordination</td>

                    <td>NDIA (All) Plan Managed (All)
                    </td>
                </tr>
                <tr>
                    <td>CB Home Living</td>
                    <td>Improved Living Arrangements</td>

                    <td>NDIA (All) Self-Managed (All) Plan Managed (All)

                    </td>
                </tr>
                <tr>
                    <td>CB Social Community and Civic Participation</td>
                    <td>Increased Social & Community Participation</td>

                    <td>NDIA (All) Self-Managed (All) Plan Managed (All)
                    </td>
                </tr>
                <tr>
                    <td>CB Employment</td>
                    <td>Finding & Keeping a Job</td>

                    <td>NDIA (All) Self-Managed (All) Plan Managed (All)
                    </td>
                </tr>
                <tr>
                    <td>CB Relationships</td>
                    <td>Improved Relationships</td>

                    <td>NDIA (All) Self-Managed (All) Plan Managed (All)
                    </td>
                </tr>
                <tr>
                    <td>CB Health and Wellbeing</td>
                    <td>Improved Health & Wellbeing</td>

                    <td>NDIA (All) Self-Managed (All) Plan Managed (All)
                    </td>
                </tr>
                <tr>
                    <td>CB Lifelong Learningg</td>
                    <td>Improved Learning</td>

                    <td>NDIA (All) Self-Managed (All) Plan Managed (All)
                    </td>
                </tr>
                <tr>
                    <td>CB Choice and Control</td>
                    <td>CB Choice and Control</td>

                    <td>NDIA (All)
                    </td>
                </tr>
                <tr>
                    <td>CB Daily Activity</td>
                    <td>CB Daily Activity</td>

                    <td>NDIA (All) Self-Managed (All) Plan Managed (All)

                    </td>
                </tr>
                <tr>
                    <td>Capital - Assistive Technology</td>
                    <td>Assistive Technology</td>

                    <td>NDIA (All or Partial) Plan Managed (All or Partial)

                    </td>
                </tr>
                <tr>
                    <td>Capital -Home Modifications</td>
                    <td>Home Modifications</td>

                    <td>NDIA (All or Partial) Plan Managed (All or Partial)
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="width: 100px;">
        <button class="btn btn-primary" [routerLink]="['/planparser/']">Back</button> &nbsp;
    </div>
</div>