<div class="container">
    <div class="overlaybox_data" style="text-align: center;">
        <h4 class="margintop30" style="font-weight: 500;">Integrated Service Provider is coming soon..</h4>
        <h5 class="margintop30" style="font-weight: 500;">In the meantime you may use our free services to look for a
            service providers of your choice.</h5>
        <div class="div-coming-soon">
            <a class="button-coming-soon" href="#" target="_blank">
                Search
            </a>
        </div>
    </div>
</div>