.btn-primary-add {
    background-color: rgb(196, 18, 47);
    border-color: rgb(196, 18, 47);
    opacity: 0.8;
    border-radius: 0.1875rem;
    color: #fff;
    text-decoration: white;
    opacity: 0.8;
}

.btn-primary-add:hover {
    opacity: 1;
}
